<div *ngIf="todos.length ===0; else listBlock" class="text-center m-2 text-rose-600">
    No Task! Add some tasks
</div>

<ng-template #listBlock>
    <div class="mt-5">
        <div *ngFor="let todo of todos" class="flex justify-between bg-gray-300 p-2 mb-3 border-l-[4px] border-green-500">
            <div>
                <div class="font-semibold">
                    {{todo.taskName}}
                </div>
                <div>
                    {{todo.deadline  |  date:'d MMMM, y'}}
                </div>
            </div>

            <div class="self-center text-red-500 font-semibold mr-5">
                <button (click)="deleteTodo(todo.id)">X</button>
            </div>
        </div>
    </div>
</ng-template>