

<form (ngSubmit)="handleSubmit()" [formGroup]="addTaskForm" class="mt-2">
    <div class="flex flex-col h-12">
        <div>
            <label>Task</label>
            <input type="text" class={{formInputStyle}} formControlName="taskName" placeholder="Task Description"  />
        </div>
        <div class="text-xs text-red-500 font-bold" *ngIf="addTaskForm.get('taskName')?.hasError('required') && addTaskForm.get('taskName')?.touched">
             Task name is required 
        </div>
    </div>


    <div class="flex flex-col h-14 mt-6 mb-6">
        <div>
            <label>Deadline</label>
            <input placeholder="Deadline" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"   class={{formInputStyle}} formControlName="deadline" />
        </div>

        <div  class="text-xs text-red-500 font-bold" *ngIf="addTaskForm.get('deadline')?.hasError('required') && addTaskForm.get('deadline')?.touched">
             Task deadline is required 
        </div>
    </div>


    <div>
        <input 
        type="submit" value="Submit" 
        [disabled]="addTaskForm.invalid"
        [ngClass]="getSubmitBtnStyle(addTaskForm.invalid)"
         />
    </div>

</form>